.chatbot-header button {
    position: relative;
    right: -160px;
    font-size: 18px;
    background: transparent;
    color: white;
    border-color: black;
    border-width: 0px 2px 3px 0px;
    cursor: pointer;
}

.chatbot-header img {
    height: 140px;
    width: auto;
    position: relative;
    bottom: 120px;
    left: -46px;
}

/* new css */
.botlogo {
    position: fixed;
    bottom: 0;
    right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.chatbox-container {
    background-color: #4C585B !important;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 365px;
    height: 605px;
    max-height: 100%;
    overflow-y: auto;
    animation: chatbotOpen 0.5s ease-out;

}

@keyframes chatbotOpen {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.chatbot-header {
    position: relative;
    text-align: center;
    margin-bottom: 2px;
}

.bot-logo-tilt {
    animation: tilt 3s ease-in-out infinite alternate;
    height: 137px;
    position: absolute;
    top: -705px;
    z-index: 9999;
    left: -356px;
    transform: translateX(-50%);
}

@keyframes tilt {
    0% {
        transform: translateX(-50%) rotate(2deg);
    }

    100% {
        transform: translateX(-50%) rotate(-2deg);
    }
}

.chatbox-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    padding-top: 0;
    color: black;
    display: flex;
    flex-direction: column;
}

.chat-item {
    margin: 4px;
    padding: 9px;
    border-radius: 10px;
    max-width: 80%;
    /* display: inline-block; */
    max-width: 100%;
    word-wrap: break-word;
}


.chat-item.bot {
    background-color: #e0e0e0;
    align-self: flex-start;
    text-align: left;
    font-size: 17px;
    color: black;
    background-color: #c3dae6;
    margin: 4px;
    padding: 9px;
    border-radius: 10px;
    max-width: 84%;
    word-wrap: break-word;
    display: inline-block;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
    align-items: end;
    margin-bottom: 6px;
    margin-top: 20px;
}

.chat-button {
    padding: 14px 17px;
    border-radius: 42px;
    background: transparent;
    border: 2px solid white;
    color: black;
    background-color: #45707b;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.chat-button:hover {
    background-color: #4C585B;
    color: black;
}

.bot {
    position: relative;
}

.bot img {
    width: auto;
    height: 53px;
    display: inline-block;
    background: none;
    position: relative;
}

.bot h1 {
    color: white;
    width: auto;
    height: 60px;
    display: inline-block;
    background: none;
    position: absolute;
    right: 262px;
    top: -65px;
    font-size: 40px;
}

.bot .typing-dots {
    color: white;
    width: auto;
    height: 60px;
    display: inline-block;
    background: none;
    position: absolute;
    right: 260px;
    top: -33px;
    font-size: 40px;
}

/* Keyframes for the wave animation */
@keyframes wave {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    25% {
        opacity: 1;
        transform: translateY(-10px);
    }

    50% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.typing-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-dots span {
    font-size: 30px;
    margin: 0 1px;
    animation: wave 1.5s infinite;
}

.typing-dots span:nth-child(1) {
    animation-delay: 0s;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.3s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.6s;
}


/* Arrow for bot message */
.chat-item.bot::after {
    content: '';
    position: absolute;
    top: 100%;
    left: -6px;
    width: 0;
    height: 0;
    top: 0px;
    border-style: solid;
    border-width: 16px 10px 0 10px;
    border-color: #c3dae6 transparent transparent transparent;
}

.chat-item.user {
    position: relative;
    background-color: white;
    color: black;
    align-self: flex-end;
    text-align: right;
    margin: 7px 0;
    /* background-color: #d4f0f7; */
}

/* Arrow for user message */
.chat-item.user::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 10px 0 10px;
    border-color: transparent transparent transparent #ffff;
    transform: rotate(-72deg);
    /* left: calc(95% - 8px); */
    right: -5px;
    top: -13px;
}

/* responsiveness */
/* Tablet View */

@media screen and (max-width: 768px) {
    .chatbox-container {
        width: 340px;
        height: 500px;
        right: 15px;
        padding: 8px;
    }

    .chatbot-header img {
        height: 100px;
        bottom: 90px;
        left: -20px;
    }

    .bot-logo-tilt {
        top: -575px;
        left: -311px;
        height: 100px;
    }

    .bot h1 {
        font-size: 30px;
        right: 210px;
        top: -50px;
    }

    .chat-item.bot,
    .chat-item.user {
        /* max-width: 70%; */
    }

    .chat-button {
        padding: 12px 15px;
    }
}

/* Mobile View */
@media screen and (max-width: 480px) {
    .chatbox-container {
        height: 90vh;
        width: 90%;
        bottom: 10px;
        padding: 6px;
    }

    .chatbot-header img {
        height: 80px;
        bottom: 70px;
        left: -15px;
    }

    .bot-logo-tilt {
        left: -960px;
        top: -795px;
        height: 100px;
    }

    .bot h1 {
        font-size: 25px;
        right: 180px;
        top: -45px;
    }

    .chat-item.bot,
    .chat-item.user {
        /* max-width: 65%; */
    }

    .chat-button {
        padding: 10px 13px;
        font-size: 14px;
    }

    .chat-item {
        font-size: 14px;
        padding: 6px;
    }
}

/* Extra Small Devices (e.g., small phones) */
@media screen and (max-width: 360px) {
    .chatbox-container {
        width: 95%;
        height: 400px;
    }

    .bot h1 {
        font-size: 22px;
        right: 150px;
        top: -40px;
    }

    .chat-item.bot,
    .chat-item.user {
        max-width: 60%;
    }

    .chat-button {
        padding: 8px 10px;
        font-size: 12px;
    }
}