.home-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-page .text-zone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
}

.home-page h1 {
    color: #fff;
    font-size: 65px;
    line-height: 70px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
}

.home-page h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    margin-top: -40px;
    left: 42px;
    opacity: 0.6;
}

.home-page h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    animation: fadeIn 1s 1.7s backwards;
    opacity: 0.6;
}

.home-page h1 img {
    margin-left: 20px;
    opacity: 0;
    width: 32px;
    height: auto;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
}

.home-page h2 {
    /* color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards; */
    font-size: 28px;
    margin-bottom: 7px;
}

.home-page .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
}

.home-page .flat-button:hover {
    background: #45707b;
    color: #333;
}

@media screen and (max-width: 1200px) {

    .tags,
    .home-page h1:before,
    .home-page h1:after {
        display: none;
    }

    .home-page .text-zone {
        position: initial;
        /* change */
        /* width: 100%; */
        /* padding: 10px; */
        transform: none;
        box-sizing: border-box;
    }

    .home-page .flat-button {
        float: none;
        display: block;
        margin: 20px auto 0 auto;
        width: 124px;
    }

    .logo-container {
        position: relative;
        width: 100px;
        height: auto;
        top: 50px;
        right: 0;
        box-sizing: border-box;
        margin: auto;
        left: 0;
    }

    .logo-container svg {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
    }
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #873535; */
    background-color: #4C585B;
    color: black;
}

/* Homepage Layout */
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* change */
    /* width: 100%; */
    /* min-height: 800px; */
    /* padding: 30px 50px; */
    /* overflow: hidden; */
    padding: 30px 0px;
    padding-left: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
}

.award,
.projects {
    width: 15%;
    font-size: 20px;
}

.intro {
    width: 50%;
}

.intro h1 {
    font-size: 3rem;
    font-weight: bold;
}

.intro h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    position: relative;
}

.intro h2 span {
    font-style: italic;
}

.cursor {
    font-size: 1.5rem;
    color: black;
    animation: blink 0.8s step-start infinite;
}

/* Typing effect */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.description {
    max-width: 800px;
    margin-bottom: 2rem;
}

.description p {
    font-size: 1rem;
    color: #555;
}

.download-box {
    background-color: #333;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
}

.download-box:hover {
    transform: scale(1.05);
}

.download-box a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
}

.button {
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.view-work {
    padding: 65px 26px;
    border-radius: 100px;
    background-color: #b2b9d0;
    color: black;
    animation: moveCircle 3s infinite alternate ease-in-out;
    position: relative;
}

.view-work:hover {
    transform: translateY(-5px);
    background-color: #5b6769;
    color: #b2b9d0;
}

.view-work .download-icon {
    position: absolute;
    right: 10px;
    opacity: 0;
    font-size: 18px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.view-work .download-icon {
    font-size: 26px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.view-work:hover .button-text {
    opacity: 0;
}

/* change it */
.view-work .download-icon {
    opacity: 0;
    transform: translateY(0);
    position: relative;
}

.view-work .download-icon svg {
    filter: invert(1);
    width: 60px;
    font-weight: 100;
    position: absolute;
    top: -10px;
    left: -65px;
}

.view-work .download-icon svg:first-child {
    color: black;
    font-size: 45px;
    font-weight: 100;
    position: absolute;
    top: -25px;
    left: -64px;
    animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Adjust height as needed */
    }
}


.view-work:hover .download-icon {
    opacity: 1;
    transform: translateY(0);
}

.contact-me {
    padding: 68px 36px;
    border-radius: 100px;
    background-color: #6b7476;
    color: rgb(249, 249, 249);
    position: absolute;
    left: 135px;
    animation: moveCircleReverse 3s infinite alternate ease-in-out;
}

.contact-me:hover {
    transform: translateY(-5px);
    background-color: #b2b9d0;
    color: black;
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(-5px, 5px);
    }
}

@keyframes moveCircleReverse {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-5px, 5px);
    }

    100% {
        transform: translate(5px, -5px);
    }
}

.window-frame {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 10px solid #d3a87e;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 50px;
    right: -877px;
}


.right_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.border1 {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 20px;
    right: 0;
    top: 10px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 2px;
    transition: all .3s ease;
}

.border2 {
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 0;
    right: 20px;
    top: -20px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 2px;
    transition: all .3s ease;
}

.title_holder {
    position: relative;
    z-index: 2;
}

.img_holder img {
    /* min-width: 100%; */
    opacity: 0;
}

.abs_img {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title_holder {
    text-align: center;
    padding: 27px 0 20px;
}

.title_holder h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #999;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.title_holder h3 {
    margin: 0;
    padding: 0 10px;
    font-size: 30px;
    min-height: 36px;
    position: relative;
}

.animated_title:before {
    content: "]";
    right: 0;
    bottom: 0;
    top: auto;
}

.animated_title:after {
    content: "[";
    left: 0;
}

.animated_title:before {
    position: absolute;
    /* top: 0; */
    color: #44993b;
    animation: opacity 3s infinite;
}

.animated_title:after {
    position: absolute;
    top: 0;
    color: #44993b;
    animation: opacity 3s infinite;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.work-process {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.play-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.scroll {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: #555;
}

.scroll span {
    font-size: 2rem;
}

/* new css */

.border1 {
    position: absolute;
    z-index: 1;
    left: 245px;
    bottom: 20px;
    right: 0;
    top: -15px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 2px;
    transition: all .3s ease;
    /* change it */
    width: 540px;
    left: 245px;
    /* left: 190px;
    width: 480px; */
    height: 580px;
}

.border2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 20px;
    top: -35px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 2px;
    transition: all .3s ease;
    width: 480px;
    left: 266px;
    /* left: 230px; */
    /* width: 410px; */
    height: 630px;
}

.title_holder {
    position: relative;
    z-index: 2;
    top: 48px;
    /* left: 118px; */
    left: 10px;
    padding: 27px 0 20px;
    width: 477px;
}

.img_holder {
    position: relative;
    width: 50%;
    height: 360px;
    /* You can adjust the height as needed */
    overflow: hidden;
    margin-bottom: 20px;
    top: 40px;
    left: 118px;
}

.img_holder img {
    /* width: 100%;
    height: auto;
    object-fit: cover; */
    /* Make sure the image is visible */
    /* This ensures the image fills the container proportionally */
    opacity: 1;
}

.abs_img {
    position: absolute;
    z-index: 2;
    /* Ensure it's above the image */
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Optional: If you want a background image, you can set a URL here */
}

.title_holder {
    text-align: center;
    padding: 27px 0 20px;
}

.title_holder h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #999;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.title_holder h3 {
    margin: 0;
    padding: 0 10px;
    font-size: 35px;
    min-height: 36px;
    position: relative;
}

.right_in {
    width: 50%;
    margin-right: 30px;
}

.img_holder img {
    /* width: 100%;
    height: auto;
    opacity: 1;
    object-fit: cover; */
    /* This ensures the image fills the container proportionally */
}

.abs_img {
    position: absolute;
    z-index: 1;
    /* Adjust z-index if needed */
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .img_holder img:last-of-type {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: 1;
} */


/* typing */
.text-zone p {
    margin: 50px 0;
    font-size: 20px;
    color: white;
    line-height: 1.0cm;
    width: 109%;
    text-align: left;
}




.homepage .social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 320px;
}

.homepage .soc-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.icon {
    color: #cba87b;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
    color: #ffffff;
    /* White on hover */
}

.social-svg {
    width: 100%;
    height: 100%;
    fill: currentColor;

}


.homepage .social-icons h5 {
    font-size: 25px;
    color: white;
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
}


/* anim */
.animate {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* .show-menu .menu-wrap {
    width: 315px;
    height: 250px;
    border-bottom-left-radius: 350px;
    padding-top: 27px;
} */

/* media query */
@media screen and (max-width: 1450px) {
.border1 {
    left: 190px;
    width: 480px;
}

.border2 {
    left: 230px;
    width: 410px;
}
}

@media screen and (max-width: 350px) {
    .show-menu .menu-wrap {
        width: 300px;
        height: 267px;
        border-bottom-left-radius: 340px;
        padding-top: 35px;
    }
    .menu li {
        margin-bottom: 13px;
        margin-left: 106px;
    }
    .menu a {
        font-size: 17px;
        font-weight: bold;
    }
    .menu li button{
        font-size: 17px; 
    }
}

@media screen and (max-width: 900px) {
    .right_in {
        opacity: 0;
        width: 0%;
    }
    .homepage{
        padding: 0;
        width: 100%;
        min-height: 800px;
        padding: 30px 50px;
        overflow: hidden;
        padding: 30px 0px;
    }
    .home-page .text-zone{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 18px;
        width: 100%;
    }
    .home-page h1 {
        color: #fff;
        font-size: 50px;
        line-height: 65px;
    }
    .text-zone p{
        padding-left:  5px;
        padding-right: 10px;
        width: 100%;
    }
    .homepage .social-icons{
        margin-left: 50px;
    }
}

@media screen and (max-width: 420px) {
    .home-page .text-zone{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 10px;
        width: 100%;
    }
    .home-page h1 {
        color: #fff;
        font-size:40px;
        line-height: 50px;
        margin-left: 10px;
    }
    .text-zone p{
        font-size: 20px;
        padding-left:  10px;
        padding-right: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .view-work {
        padding: 40px 7px;
                /* margin-left: 50px; */
    }
    .button-text {
        font-size: 16px;
    }
    .contact-me {
        padding: 50px 20px;
        left: 110px;
        /* left: 50px; */
        /* bottom: -100px; */
    }
}


@media screen and (max-width: 300px) {
    .home-page .text-zone{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 10px;
        width: 100%;
    }
    .home-page h1 {
        color: #fff;
        font-size:25px;
        line-height: 35px;
    }
    .text-zone p{
        font-size: 15px;
        padding-left:  10px;
        padding-right: 10px;
        line-height: 0.8cm;
        width: 100%;
        margin: 20px 0;
    }
    .homepage .social-icons{
        margin-left: 20px;
    }
}



@media screen and (max-width: 255px) {
    .home-page .text-zone{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 10px;
        width: 100%;
    }
    .home-page h1 {
        color: #fff;
        font-size:22px;
        line-height: 28px;
    }
    .text-zone p{
        font-size: 12px;
        padding-left:  10px;
        padding-right: 10px;
        line-height: 0.6cm;
        width: 100%;
        margin: 20px 0;
    }
    .view-work {
        padding: 40px 7px;
        margin-left: 50px;
    }
    .button-text {
        font-size: 16px;
    }
    .contact-me {
        padding: 50px 20px;
        /* left: 110px; */
        left: 50px;
        bottom: -100px;
    }
    .homepage .social-icons {
     margin-top: 150px;
        margin-left: 10px;
    }
    
}


.img_holder {
    position: relative;
    width: 57%;
    height: 360px;
    overflow: hidden;
    margin-bottom: 20px;
    top: 40px;
    left: 118px;
}

.myimg{
    width: 70%;
    position: absolute;
    left: -60px;
}

/* trying to correct photo css */

.img_holder {
    position: fixed;
    width: 23%;
    height: 289px;
    overflow: hidden;
    margin-bottom: 20px;
    top: 200px;
    left: 1500px;
}
.title_holder {
    position: fixed;
    z-index: 2;
    top: 538px;
    /* left: 118px; */
    left: 1400px;
    padding: 27px 0 20px;
    width: 477px;
}


.border1 {
    position: fixed;
    z-index: 1;
    left: 70.0vw;           /* 1355px of 1920px screen */
    /* top: 7vh;             
    width: 28.6vw;        
    height: 30.2vh;        */
    top: 15vh;
    width: 27.6vw;
    height: 68.2vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.border2 {
    position: fixed;
    z-index: 1;
    /*
    left: 72.7vw;         
    top: 5.9vh;             
     width: 24.5vw;   
    height: 33.3vh;   */
    left: 71.7vw;
    top: 10.9vh;
    width: 23.5vw;
    height: 77.3vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.img_holder {
    position: fixed;
    width: 23vw;
    height: 28.8vh;
    overflow: hidden;
    margin-bottom: 1.85vh;
    top: 22.5vh;
    left: 77.1vw;
}

.title_holder {
    position: fixed;
    z-index: 2;
    top: 60.8vh;               /* 538px of 1080px */
    left: 70.9vw;            /* 1400px of 1920px */
    padding: 2.5vh 0 1.85vh;   /* 27px top, 20px bottom */
    width: 24.8vw;             /* 477px of 1920px */
}


@media screen and (max-width: 1200px) {
    
.border1 {
    position: fixed;
    z-index: 1;
    left: 62vw;
    top: 11vh;
    width: 32.6vw;
    height: 68.2vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.border2 {
    position: fixed;
    z-index: 1;
    left: 63.7vw;
    top: 5.9vh;
    width: 28.5vw;
    height: 77.3vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.img_holder {
    position: fixed;
    width: 30vw;
    height: 27.8vh;
    overflow: hidden;
    margin-bottom: 1.85vh;
    top: 18.5vh;
    left: 70.1vw;
}

.title_holder {
    position: fixed;
    z-index: 2;
    top: 49.8vh;
    left: 65.9vw;
    padding: 2.5vh 0 1.85vh;
    width: 24.8vw;
}
}